@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
}

.sidebar{
    background-color: rgb(212, 207, 207);
    /* width: 400px; */
    height: 100vh;
    font-family: "Roboto", sans-serif;
      transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 40px;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 28px 0;

}
.sidebar nav li a{
    text-decoration: none;
    color: black;
    
}
.main{
    /* background-color: yellow; */
    width: 90vw;
}
.container{
    display: flex;
}
.infoContainer{
    /* background-color: blueviolet; */
    width: 80vw;
    height: 70vh;
    margin: 145px auto;
    display: flex;
    justify-content: space-around;

}
.hello{
    font-size: 70px;
    
}
.name{
    font-size: 55px;
     font-weight: bold;
     font-family: "Roboto", sans-serif;
}
.about{
    font-size: 40px;
}
.moreAbout{
    font-size: 22px;
    margin-top: 23px;
}
.buttons{
  margin-top: 40px;
}
.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 4px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    width: 53vh;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;

}
/* contact form */
.contactForm{
    padding: 0 24px;
    padding-top: 144px;
    font-family: "Roboto", sans-serif;
    margin: 0 88px;
    
}
.contactForm h1{
     font-family: "Source Code Pro", monospace;
     /* text-align: center; */
    
}
.contactForm form div{
    padding: 12px 0;
}
.form-control{
    
    width: 26vw;
    border-radius: 5px;
    margin: 7px 0 0 0;
    padding: 4px;
} 
.btn{
    width: 75px;
    height: 30px;
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    margin: 3px 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: dodgerblue;
    
}
#isclient{
    margin: 7px 0 0 0;
}
#emailHelp{
    font-size: 12px;
    color: midnightblue;
    margin: 0 5px;
}

/* blog page to be continue herer */
.blogItem{
    margin: 30px;
    font-family: "Source Code Pro", monospace;
}
.blogContainer h1{
    margin: 60px 45px;

}
.blogContainer{
    margin: 0 60px;
}
.btn-sm{
    width: 62px;
    height: 25px;
    padding: 2px 8px;
    border-radius: 15px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 13px;
    margin: 3px 5px;
    cursor: pointer;
}
.btn-sm:hover{
   background-color: white;
    color: dodgerblue;
        
}
/* intro page */
.intro{
    margin: 50px 60px;
}
.intro h2{
    font-family: "Source Code Pro", monospace;
    margin: 12px;
}
.intro p{
    font-family: "Source Code Pro", monospace;
    margin: 12px;

}
.skillContainer{
    padding: 12px;
    
}
.skilItem{
    display: flex;
    align-items: center;
    
}
.skill{
    background-color: red;
    width: 150px;
    height: 3px;
    border: 2px solid black;    
    border-radius: 5px;
    font-family: "Source Code Pro", monospace;
    font-weight: 900;
}
/* service page */
.service{
    margin: 50px 88px;
}
.service h2{
    margin-top: 30px;
    margin-left: 70px;
}
.service ul li{
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
}
/* rexposiveness */
.sidebarGo{
        transform: translate(-443px,0);
        position: absolute;
    }
.hamburger{
   position: absolute;
   cursor: pointer;
   top: 30px;
   left: 18px; 
}
.hm{
    
}
.cross{
    margin-left: 158px;
}
@media (max-width:(1650px)){
    .devPic img{
        display: none;
    }
}



